@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
:root {
  --clr-primary-color: #d8ffc5;
  --clr-primary-color-light: #f2f7ef;
  --clr-primary-color-hover: #c7fcad;
  --clr-primary-color-light-hover: #f2f7ef;
  --clr-primary-color-active-icon: #123500;
  --clr-primary-color-active-label: #404c38;

  --clr-secondary-color-non-active-icon: #4d4e51;
  --clr-secondary-color-non-active-label: #4e514d;

  --clr-fab-color: #b7f397;
  --clr-fab-color-hover: #9de278;

  --clr-header-elements-color: #4e514d;
  --clr-section-color-text: #4e4f53;
  --clr-section-color-text-hover: #f1f1f1;

  --clr-border-line-color: #e4ede0;

  --clr-bg-color: #fafafa;
  --clr-bg-color-hover: #ececec;
  --clr-bg-nav-color: #f8fff5;
  --clr-bg-card-color: #f7f7f7;
  --clr-bg-input-color: #f6f9f4;
}

/*---------------- Header ----------------*/

.scroll-menu::-webkit-scrollbar {
  height: 5px;
}

.pop-up-list-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.bookmark-list-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*---------------- General ----------------*/

html,
body {
  margin: 0;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  outline: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--clr-bg-color);
}

/*---------------- Header ----------------*/

header {
  background-color: var(--clr-bg-color);
  color: var(--clr-header-elements-color);
  position: fixed;
  width: 100%;
  top: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.logo {
  font-size: 2.2rem;
  font-weight: 400;
}

.header-icons-account,
.header-icons-search {
  font-size: 3em;
  border-radius: 6px;
  transition: background-color 300ms;
  padding: 0.1em;
  cursor: pointer;
}

.header-icons-account:hover,
.header-icons-search:hover {
  background-color: var(--clr-section-color-text-hover);
}

.header-icons-search {
  font-size: 2.5em;
  cursor: pointer;
}

/*---------------- NavBar ----------------*/

nav {
  background-color: var(--clr-bg-nav-color);
  position: fixed;
  width: 100%;
  bottom: 0;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1.2em;
}

.nav-icon-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.4em;
  height: 3.2em;
  border-radius: 500px;
}

.nav-icon {
  font-size: 2.7em;
}

.active-nav-icon {
  background-color: var(--clr-primary-color);
}

.nav-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin: 0.5em 0 1em 0;
}

.nav-item {
  cursor: pointer;
  color: var(--clr-primary-color-active-icon);
}

.bookmark {
  font-size: 2.6rem;
  color: var(--clr-primary-color-active-icon);
  cursor: pointer;
}

/*---------------- FAB ----------------*/

.fab {
  background-color: var(--clr-fab-color);
  position: fixed;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(129, 129, 129, 0.23);
  right: 2.5em;
  bottom: 10em;
  cursor: pointer;
  transition: background-color 300ms;
}

.fab:hover,
.fab:focus {
  background-color: var(--clr-fab-color-hover);
}

.fab-container {
  padding: 1.6rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab-icon {
  color: var(--clr-primary-color-active-icon);
  font-size: 2.7rem;
}

/*---------------- Main ----------------*/

main {
  padding: 9.4em 3em;
}

/*---------------- Hero ----------------*/

.hero-container {
  background-image: url("img/hero.jfif");
  height: 18em;
  padding: 2.5em 2.5em 1.5em 2.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 28px;
  display: flex;
  align-items: flex-end;
}

.hero-title {
  color: #fff;
  font-size: 3.9em;
}

/*---------------- Slider ----------------*/

.section-title {
  font-size: 2.5em;
  font-weight: 500;
  padding: 3rem 0;
  color: var(--clr-section-color-text);
}

.scroll-menu {
  overflow: auto;
  border-radius: 16px;
  display: flex;
}

.item {
  display: inline-block;
  background-color: var(--clr-bg-card-color);
  padding: 1.5em;
  border-radius: 16px;
  box-shadow: 0 0 6px 2px rgba(143, 143, 143, 0.1);
}

.item + .item {
  margin-left: 2.2em;
}

.item-name {
  font-size: 1.5rem;
  color: var(--clr-section-color-text);
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.name-container {
  width: 15em;
}

.item-image-container {
  /* mix-blend-mode: multiply; */
  height: 16em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images */

.iphone {
  background-image: url("img/iphone.png");
}

.xiaomi {
  background-image: url("img/xiaomi.png");
}

.samsung {
  background-image: url("img/samsung.png");
}

.ipad {
  background-image: url("img/ipad.png");
}

.item-content {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  overflow: hidden;
}

.item-action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.buy-button {
  color: var(--clr-primary-color-active-icon);
  background-color: var(--clr-fab-color);
  border-radius: 8px;
  padding: 0.6em 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8em;
  cursor: pointer;
  transition: background-color 300ms;
}

.buy-button:hover {
  background-color: var(--clr-fab-color-hover);
}

.buy-button {
  color: var(--clr-primary-color-active-icon);
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.favorite-button {
  cursor: pointer;
}

button {
  background-color: transparent;
}

.shopping-cart-icon {
  font-size: 1.8rem;
}

/*---------------- Login ----------------*/

.dark-overlay-login {
  background-color: rgba(0, 0, 0, 0.63);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 300ms;
}

.login-pop-up {
  background-color: var(--clr-bg-color);
  width: fit-content;
  padding: 2.4em;
  margin: 3em;
  width: 100%;
  border-radius: 24px;
}

.pop-up-top {
  color: var(--clr-section-color-text);
  text-align: center;
}

.pop-up-icon {
  font-size: 4.6rem;
}

.pop-up-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 1.5rem 0 2.4rem 0;
}

.pop-up-login {
  margin: 2.4em 0;
  color: var(--clr-section-color-text);
}

.input-label {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.8rem 0;
}

.input-field {
  background-color: var(--clr-bg-input-color);
  border: solid 1.5px rgba(78, 81, 77, 0.73);
  border-radius: 10px;
  font-size: 1.8rem;
  padding: 1.2rem;
  width: 100%;
}

.pop-up-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button {
  color: var(--clr-primary-color-active-icon);
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem 3rem;
  border-radius: 500px;
}

.pop-up-secondary-button {
  transition: background-color 300ms;
  cursor: pointer;
}

.pop-up-secondary-button:hover {
  background-color: var(--clr-primary-color-light-hover);
}

.pop-up-primary-button {
  background-color: var(--clr-primary-color);
  transition: background-color 300ms;
  cursor: pointer;
}

.pop-up-primary-button:hover {
  background-color: var(--clr-primary-color-hover);
}

/*---------------- Cart ----------------*/

.dark-overlay-cart {
  background-color: rgba(0, 0, 0, 0.63);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

.pop-up-list-container {
  margin: 0 0 2em 0;
  max-height: 19em;
  overflow: auto;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--clr-border-line-color);
  padding: 0.8em 0;
}

.list-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  min-width: 4rem;
  background-color: var(--clr-primary-color);
  border-radius: 40px;
  color: var(--clr-primary-color-active-icon);
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.list-item-name-container {
  display: flex;
  min-width: 10em;
  margin: 0 1.4rem;
}

.list-item-name {
  color: var(--clr-section-color-text);
  font-size: 1.6rem;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.list-item-price {
  color: var(--clr-primary-color-active-icon);
  background-color: var(--clr-primary-color-light);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1em 1.5em;
  border-radius: 8px;
}

.bin {
  color: var(--clr-section-color-text);
  font-size: 3rem;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 300ms;
}

.bin:hover {
  background-color: var(--clr-section-color-text-hover);
}

.list-total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4em;
}

.list-item-total {
  color: var(--clr-section-color-text);
  font-size: 1.8rem;
}

.total-price {
  color: var(--clr-primary-color-active-icon);
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
}

.empty {
  color: var(--clr-section-color-text);
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-img {
  margin-bottom: 2.4rem;
}

.empty-img img {
  width: 12rem;
}

/*---------------- Bookmark ----------------*/

.bookmark-list-container {
  margin: 0 0 2em 0;
  max-height: 19em;
  overflow: auto;
}

.bookmark-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--clr-border-line-color);
  /* padding: 0.8rem 0; */
}

.list-img {
  max-width: 6rem;
}

.list-title {
  color: var(--clr-section-color-text);
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.list-bookmark {
  color: var(--clr-primary-color-active-icon);
  font-size: 2.6rem;
  background-color: var(--clr-primary-color-light);
  padding: 0.7rem;
  border-radius: 500px;
  cursor: pointer;
}
